body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-font);
    background-color: var(--color-backgroud);
    text-align: center;
}

:root {
    --color-backgroud: #2f3640;
    --color-font: #f5f6fa;
    --color-square: #dcdde1;
}

.square {
    width: 150px;
    height: 150px;
    background-color: var(--color-square);
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}

.square:hover {
    box-shadow: 0px 0px 15px #00a8ff;
}

.o {
    position: relative;
}

.o::after {
    position: absolute;
    font-size: 80px;
    line-height: 150px;
    content: "\1F534";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.x {
    position: relative;
}

.x::after {
    position: absolute;
    font-size: 80px;
    line-height: 150px;
    content: "\1F7E9";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}