body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-font);
    background-color: var(--color-backgroud);
    text-align: center;
}

:root {
    --color-backgroud: #2f3640;
    --color-font: #ccd6ff;
    --color-square: #dcdde1;
    --color-arrow: #00a8ff;
    --color-p1: #ff0000;
    --color-p2: #008000;
}

main {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 70px;
}

.playerOfTime {
    color: var(--color-arrow);
    font-size: 50px;
}

.square {
    width: 150px;
    height: 150px;
    background-color: var(--color-square);
    display: inline-block;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
}

.square:hover {
    box-shadow: 0px 0px 15px #00a8ff;
}

.displayP1 {
    color: var(--color-p1);
}

.displayP2 {
    color: var(--color-p2);
}

.score {
    font-size: 120px;
    font-weight: bold;
}

.o {
    position: relative;
}

.o::after {
    position: absolute;
    font-size: 80px;
    line-height: 150px;
    content: "\1F534";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.x {
    position: relative;
}

.x::after {
    position: absolute;
    font-size: 80px;
    line-height: 150px;
    content: "\1F7E9";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#restart {
    cursor: pointer;
    font-size: 20px;
    background-color: var(--color-font);
    color: var(--color-backgroud);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#restart:hover {
    box-shadow: 0 8px 8px -2px var(--color-arrow);
}

@media (max-width: 880px) {

    h1 {
        font-size: 50px;
    }

    .square {
        width: 120px;
        height: 120px;
    }

    .score {
        font-size: 85px;
    }

    .o::after {
        font-size: 70px;
        line-height: 120px;
    }

    .x::after {
        font-size: 70px;
        line-height: 120px;
    }
}


@media (max-width: 740px) {

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 18px;
    }

    .square {
        width: 80px;
        height: 80px;
    }

    .score {
        font-size: 50px;
    }

    .o::after {
        font-size: 50px;
        line-height: 80px;
    }

    .x::after {
        font-size: 50px;
        line-height: 80px;
    }
}